{{ define "main" }}
  {{ $partial := print "partials/home/" .Site.Params.homepage.layout ".html" }}
  {{ if templates.Exists $partial }}
    {{ partial $partial . }}
  {{ else }}
    {{ partial "partials/home/profile.html" . }}
  {{ end }}

  <section id="homepage-menu">
    <ul>
        {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
        <li>
          <a>
            <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ replace ($key | title) "-" " " }}</h1>
          </a>
        </li>
        <ul>
          <hr/>
          {{ range $taxonomy.Pages }}
            <li>
              {{ partial "article-link/simple.html" . }}
            </li>
          {{ end }}
        </ul>
        {{ end }}
    </ul>
  </section>
{{ end }}